.resume:hover {
    background-color: navy ;
   transform: rotate3d(75deg);
   transition-duration: ease out 3s;
}

.cirle {
    width: 280px;
    height: 280px;
    padding: 20px;
    border-radius: 50%;
    border: 1px solid gray;
}

@media (max-width: 500px) {

    .cirle {
    width: 280px;
    height: 280px;
    padding: 20px;
    border-radius: 50%;
    border: 1px solid gray;
    margin: 10px 65px;
}

.aboutMe h1, .resumeBtn {
 text-align: center;
}
}