.resume:hover {
  background-color: navy;
}

.cirle {
  width: 280px;
  height: 280px;
  padding: 20px;
  border-radius: 50%;
  border: 1px solid gray;
}

.aboutMehead {
  margin-left: 6rem;
}


@media (max-width: 912px) {
  .aboutMehead {
    margin-left: 0;
  }
}

@media (max-width: 768px) {
  .cirle {
    margin: auto;
  }

  .aboutMehead {
    width: 100%;
    /* margin-left: 0; */
  }

  .aboutMehead h1 {
    text-align: center;
  }

  .resumeBtn {
    text-align: center;
  }

  .image {
    width: 100%;
  }
}

@media (max-width: 732px) {
  .cirle {
      width: 280px;
    height: 280px;
    padding: 20px;
    border-radius: 50%;
    border: 1px solid gray;
    margin: auto;
  }

  .aboutMehead {
    width: 100%;
  }

  .aboutMehead h1 {
    text-align: center;
  }

  .resumeBtn {
    text-align: center;
  }

  .image {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .cirle {
    width: 280px;
    height: 280px;
    padding: 20px;
    border-radius: 50%;
    border: 1px solid gray;
    margin: auto;
  }

  .aboutMehead h1,
  .resumeBtn {
    text-align: center;
  }
}

@media (max-width: 420px) {
  .cirle {
    width: 280px;
    height: 280px;
    padding: 20px;
    border-radius: 50%;
    border: 1px solid gray;
    /* margin: 10px 18px; */
    margin: auto;
  }

  .aboutMe h1,
  .resumeBtn {
    text-align: center;
  }
  .image {
    width: 100%;
  }
}

@media (max-width: 320px) {
  .cirle {
    width: 280px;
    height: 280px;
    padding: 20px;
    border-radius: 50%;
    border: 1px solid gray;
    /* margin: 10px 18px; */
    margin: auto;
  }

  .aboutMe h1,
  .resumeBtn {
    text-align: center;
  }
  .image {
    width: 100%;
  }
}
