.resume {
    background-color:navy;
    color:  white ;
}

.resume:hover {
    background-color:powderblue;
    color:  navy ;
   transform: rotate3d(75deg);
   transition-duration: ease out 3s;
}
.contact {
    background-color: navy;
    color:  powderblue ;
    padding: 5px;
    border-radius: 12px;
}

.message-area {
  border-radius: 12px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}

.carousel-caption {
  color:navy;
  background: rgb(247, 243, 243);
  background-color: rgba(250, 245, 245, 0.562);
}